/**
* @name "Togew.Inumaki-Chan"
* @version 0.0.1
* @author DemSlayer#7008
* @description Hello my name Jonathan I have nothing to say so enjoy and bye!
*/
@import url("https://jpmn333.github.io/Inumaki/base.css");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");

:root {
	--background-image: url('https://i.imgur.com/dl5utiy.jpg');
	--background-image-blur: 0px;
	--popout-modal-image: url('https://i.imgur.com/UA3dpJE.jpg');
	--popout-modal-blur: 0px;
	--serverlist-brightness: 0.8;
	--left-brightness: 0.8;
	--middle-brightness: 0.6;
	--right-brightness: 0.15;
	--popout-modal-brightness: 0.2;
	--font: 'Comfortaa', sans-serif;
	--tint-colour: 27,4,4;
	--tint-brightness: 0;
	--gradient-primary: 103,58,183;
	--gradient-secondary: 63,81,181;
	--window-padding: 0px;
	--window-roundness: 0px;
	--scrollbar-colour: rgba(255,255,255,0.75);
	--link-colour: rgba(0,176,244,0.25);
	--show-gift-gif-buttons: none;
	--update-notice-1: none;
	--HSL-server-icon-size: 40px;
	--HSL-server-spacing: 10px;
}
